html {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  display: flex;
  padding: 2rem 20rem;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  align-self: stretch;
  background: var(--linkbrary-bg, #f0f6ff);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--grey-light, #f5f5f5);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#logo {
  width: 13.3rem;
  height: 2.4rem;
}

.login,
.signup {
  display: flex;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  color: var(--grey-light, #f5f5f5);
  gap: 1rem;
  border-radius: 0.8rem;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2rem;
}

.login {
  width: 12.8rem;
}

main {
  width: 100%;
}

.headline {
  display: flex;
  padding: 7rem 36rem 0rem 36rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  background: #f0f6ff;
}

.headline-title {
  text-align: center;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 8rem; /* 125% */
}

.headline-title .title-em {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup {
  width: 35rem;
}

.image-rayer {
  width: 111.8rem;
  height: 65.9rem;
  flex-shrink: 0;
  border-radius: 2.5rem;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 67.68%, #f0f6ff 94.76%);
}

.description {
  display: flex;
  padding: 12rem 46.1rem 5rem 46.1rem;
  justify-content: center;
  align-items: center;
}

.description-container {
  display: flex;
  align-items: center;
  gap: 15.7rem;
}

.description-title {
  display: flex;
  width: 29.1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
}

.description-title .title-em {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-content {
  color: #6b6b6b;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%; /* 24px */
}

.cards {
  width: 55rem;
  height: 45rem;
  border-radius: 1.5rem;
  background: #f0f6ff;
  display: inline-flex;
  align-items: center;
  gap: -1.2rem;
}

.card {
  width: 24.4rem;
  height: 23.9rem;
}

.card-container {
  position: relative;
}

.image-boder {
  position: absolute;
  top: 1rem;
  right: 1.4rem;
  width: 21.7rem;
  height: 21rem;
  border-radius: 1.1rem;
  border: 0.3rem solid #6d6afe;
}

.download-mark {
  position: absolute;
  bottom: 0.6rem;
  right: 0.2rem;
  width: 4.6rem;
  height: 4.6rem;
}

.description-title .title-em.yellow {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.03rem;
}

.popup-container {
  display: flex;
  width: 55rem;
  padding: 11.4rem 6.8rem 6.6rem 6.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: #f0f6ff;
}

.popup {
  width: 41.4rem;
  height: 27rem;
  flex-shrink: 0;
}

.description-title .title-em.blue {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup-container.background {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/rayer.png) lightgray 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-em.rightblue {
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-result-container {
  display: flex;
  width: 50rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: #f0f6ff;
}

footer {
  display: flex;
  height: 28rem;
  padding-top: 12rem;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  height: 16rem;
  padding: 3.2rem 10.4rem 6.4rem 10.4rem;
  background: var(--the-julge-black, #111322);
}

.copyright,
.sub-pages {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.copyright,
.sns {
  flex-basis: 20rem;
}

.copyright {
  color: #676767;
}

.sub-pages {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: #cfcfcf;
  flex-grow: 1;
}

.sns {
  width: 2rem;
  height: 2rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
