* {
  box-sizing: border-box;
}

html {
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  display: flex;
  padding: 20px 200px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--linkbrary-bg, #f0f6ff);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--grey-light, #f5f5f5);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#logo {
  width: 133px;
  height: 24px;
}

.login,
.signup {
  display: flex;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  color: var(--grey-light, #f5f5f5);
  gap: 10px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
}

.login {
  width: 128px;
}

main {
  width: 100%;
}

.headline {
  display: flex;
  /* width: 1920px; */
  padding: 70px 360px 0px 360px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  background: #f0f6ff;
}

.headline-title {
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px; /* 125% */
}

.headline-title .title-em {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup {
  width: 350px;
}

.image-rayer {
  width: 1118px;
  height: 659px;
  flex-shrink: 0;
  border-radius: 25px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 67.68%, #f0f6ff 94.76%);
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.description {
  display: flex;
  padding: 120px 461px 50px 461px;
  justify-content: center;
  align-items: center;
}

.description-container {
  display: flex;
  align-items: center;
  gap: 157px;
}

.description-title {
  display: flex;
  width: 291px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.description-title .title-em {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-content {
  color: #6b6b6b;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%; /* 24px */
}

.cards {
  width: 550px;
  height: 450px;
  border-radius: 15px;
  background: #f0f6ff;
  display: inline-flex;
  align-items: center;
  gap: -12px;
}

.card {
  width: 244px;
  height: 239px;
}

.card-container {
  position: relative;
}

.image-boder {
  position: absolute;
  top: 10px;
  right: 14px;
  width: 217px;
  height: 210px;
  border-radius: 11px;
  border: 3px solid #6d6afe;
}

.download-mark {
  position: absolute;
  bottom: 6px;
  right: 2px;
  width: 46px;
  height: 46px;
}

.description-title .title-em.yellow {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.3px;
}

.popup-container {
  display: flex;
  width: 550px;
  padding: 114px 68px 66px 68px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #f0f6ff;
}

.popup {
  width: 414px;
  height: 270px;
  flex-shrink: 0;
}

.description-title .title-em.blue {
  background: linear-gradient(99deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup-container.background {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/rayer.png) lightgray 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-em.rightblue {
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-result-container {
  display: flex;
  width: 500px;
  /* padding: 114px 68px 66px 68px; */
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #f0f6ff;
}

footer {
  display: flex;
  height: 280px;
  padding-top: 120px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  height: 160px;
  padding: 32px 104px 64px 104px;
  background: var(--the-julge-black, #111322);
}

.copyright,
.sub-pages {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.copyright,
.sns {
  flex-basis: 200px;
}

.copyright {
  color: #676767;
}

.sub-pages {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: #cfcfcf;
  flex-grow: 1;
}

.sns {
  width: 20px;
  height: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
