body {
  display: flex;
  padding: 23.8rem 0rem 25.2rem 0rem;
  justify-content: center;
  align-items: center;
  background: var(--linkbrary-bg, #f0f6ff);
}

button {
  border: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

header #logo img {
  width: 21rem;
  height: 3.8rem;
}

.header-bottom {
  color: var(--black, #000);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */
}

.signup-link {
  color: var(--linkbrary-primary-color, #6d6afe);
  font-weight: 600;
  line-height: normal;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
}

input {
  display: flex;
  width: 40rem;
  padding: 1.8rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-primary-color, #ccd5e3);
  margin-bottom: 2.4rem;
}

input:focus {
  border: 0.1rem solid var(--linkbrary-primary-color, #6d6afe);
}

.login-button {
  display: flex;
  width: 40rem;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.8rem;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%));
  color: var(--grey-light, #f5f5f5);
  font-size: 1.8rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

.social-login {
  display: flex;
  width: 40rem;
  padding: 1.2rem 2.4rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--linkbrary-gray-20, #ccd5e3);
  background: var(--linkbrary-gray-10, #e7effb);
  margin-top: 3.2rem;
}

.social-login-text {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social-login-icon {
  display: flex;
  gap: 1.6rem;
}

.social-login .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
  border: 0.1rem solid #d3d4dd;
  border-radius: 99rem;
}

.circle img {
  width: 100%;
  padding: 1rem;
}

.circle.google {
  background-color: white;
}

.circle.kakao {
  background-color: #f5e14b;
}
