* {
  box-sizing: border-box;
}

body {
  width: auto;
  height: auto;
  background: #F0F6FF;
  /* position: relative; */
}


.logo {
  font-size: 24px;
  font-weight: 800;
  color: #6D6AFE;
  flex-grow: 1;
  width: auto;
}


header {
  display: flex;
  flex-basis: 100%;
  padding: 20px 200px ;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-shrink: 1; */
  /* flex-basis: 100%; */
  /* width: 1920; */
  gap: 40px;
  width: 100%;
  padding: 70px 360px 0;
  background: #F0F6FF;
}

.main-top {
  display: inline-block;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center; 
  font-family: Pretendard;
  font-style: normal;
  width: 100%;
  /* width: 708px; */
  /* height: 160px; */
}

.main-title {
  width: 100%;
  line-height: 80px;
}

.main-title span {
  background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-button {
  /* margin: 40px 0; */
  padding: 16px 20px;
  width: 350px;
  font-size: 18px;
  font-weight: 600;
}

.mian-main {
  display: flex;
  width: 100%;
}

.main-img {
  display: flex;
  border-radius: 25px;
  margin: 50px 41px 0;
  flex-shrink: 0; 
}


button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border-radius: 8px;
  border-style: none;
  background-image: linear-gradient(90deg, #6D6AFE,#6AE3FE)
  ;
  color: #F5F5F5;
}

.button-login {
  width: 128px;
  height: 54px;
  color: var(--grey-light, #F5F5F5);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

button:hover {
  background-image: linear-gradient(90deg, #ff0000, #6AE3FE);
}

.section-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  background-color: #ffffff;
  width: 100%
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #ffffff; */
  /* letter-spacing: -0.3px; */
  width: 100%;
}

.section-main {
  display: flex;
  gap: 157px;
  /* justify-content: center; */
  align-items: center;
  margin: 50px 0;
}

.section-font {
  display: inline-block;
  /* flex-direction: column; */
  /* flex-shrink: 1; */
 
 
  width: 100%;

 
}

.section-title {
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.section-content {
  color: #ffffff;
  /* color: #6B6B6B; */
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.section-title.num1 span{
  background: linear-gradient(96deg, #FE8A8A 1.72%, #A4CEFF 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title.num2 span{
  background: linear-gradient(277deg, #6FBAFF 59.22%, #FFD88B 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}

.section-title.num3 span{
  background: linear-gradient(99deg, #6D7CCD 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-title.num4 span{
  background: var(--fandom-k-gra-blue-to-pink, linear-gradient(271deg, #FE578F -9.84%, #68E8F9 107.18%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Pretendard;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.section-img {
  background: #F0F6FF;
  border-radius: 15px;
}
 
.section img {
  width: 550px;
  height: 450px;
  /* width: 100%; */
}

footer {
  display: flex;
  justify-content: space-between;

  color: inherit;
  text-decoration: none;
  
  height: 160px;
  padding: 32px 104px 64px;
  background: var(--the-julge-black, #111322);
  width: 100%;
} 

.footer-copy {
  color: #676767;
  text-align: center;               
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-menu {
  display: flex; 
  gap: 30px;
  color: #CFCFCF;
  font-family: Abel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 12px;
}

a {
  color: inherit; 
  text-decoration: none;
}


