* {
  box-sizing: border-box;
}

html {
  background: var(--linkbrary-bg, #F0F6FF);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 30px; */
  padding: 238px 0px 252px 0px;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.login-logo {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 15px
}


.font {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.link {
  color: var(--linkbrary-primary-color, #6D6AFE);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.login-input {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 12px;

  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


form {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* height: 394px; */
}

label {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* margin: 0 0 12px; */

}

input {
  padding: 18px 15px;
  width: 400px;
  height: 60px;
  /* justify-content: center; */
  border-radius: 8px;
  border: gray;
  
  background: var(--linkbrary-white, #FFF);
  /* margin: 0 0 24px; */
  gap: 24px
}

input:hover {
  border: 1px solid var(--linkbrary-primary-color, #6D6AFE);
}




button {
  display: flex;
  width: 400px;
  height: 54px;
  padding: 16px 20px;
  margin: 0 0 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color:  var(--grey-light, #F5F5F5);
  font-size: 18px;
  font-weight: 600;
  border: none;

  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
}

.login-button {
  display: flex;
  justify-content: center;
}

.login-social {
  display: flex;
  justify-content: space-between;
  color: var(--linkbrary-gray-100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 66px;

  border-radius: 8px;
  border: 1px solid var(--linkbrary-gray-20, #CCD5E3);
  background: var(--linkbrary-gray-10, #E7EFFB);

  padding: 12px 24px;
}

.social-title {
  display: flex;
  align-items: center;
  color: var(--linkbrary-gray-100, #373740);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-icon {
  display: flex;
  gap: 16px;
}

.social-icon {
  width: 42px;
  
}

.google-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/signin/icon/google-bg.svg);
  background-position: center center;
  background-size: cover;
  height: 42px;
  position: relative;
}

.kakao-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/signin/icon/kakao-bg.svg);
  background-position: center center;
  background-size: cover;
 
  height: 42px;
  position: relative;
}





